._canvas_kuuzj_1{width:50px;height:50px;cursor:pointer;border:1px solid #888}._container_kuuzj_7{position:relative}._delete_kuuzj_10{position:absolute;left:60px;top:18px;cursor:pointer}._delete_kuuzj_10:hover{color:#ff4d4f}
